html,body{
    font-size: 16px;
    height: 100vh;
    font-family: 'Georgia';
    font-style: normal;
}
body{
    background-image: url('https://img.freepik.com/foto-gratis/resumen-borroso-muebles-decoracion-almacen-tienda_74190-6648.jpg?w=740&t=st=1687735221~exp=1687735821~hmac=6ee4333784a947933a519c719e52792704d63b27f3149349f268f58668838ed1');
    background-repeat: no-repeat;
    background-size: cover;
}
div.header{
    position: relative;
    max-height: 500vh;
    width: 100%;
    height: 10em;
    padding-top: 1%;
    background: #94D5F5;
    border-radius: 0px 0px 41px 0px;
}
.controlText{
    max-width: 200vh;
    width: 100%;
    height: 10%;
    left: 100px;
    top: 0px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;

    color: #000000;
}
div.container_index{
    display: flex;
    justify-content: center;
    
}
div.container{
    display: flex;
    justify-content: space-between;
    
}
form.logIn{
    height: 25em;
    width: 25em;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-flow:column;
    margin: 1em;
    padding: 2em;
    border-radius: 60px;
    background-color: #326773;
}
div.footer{
    display: flex;
    width: 100%;
    height: 30%;
    background: #94D5F5;
}
/* @General - Contenidos dentro de la app */
/* - Barra de Menu => */
div.header-reduce{
    position: relative;
    max-width: 500vh;
    min-width: 100vh;
    height: 10em;
    padding-top: 1%;
    margin: 1em;
    background: #94D5F5;
    border-radius: 20px;
}
nav{
    transform: translate(0px, 115px);
    justify-content: space-between;
    display: flex;
    align-items:center;
    width: 100%;
    background-color: var(--items-color);
    position: relative;
    border-bottom: 1px solid var(--border-color);
}
nav span i{
    color: #326773;
    font-size: 2.7rem;
    cursor: pointer;
}
/* - barra lateral del menu hamburguesa */
div #aside{
    background-color: #83C4DB;
    width: 260px;
    height: 105vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: hidden;
    margin-top: 190px;
    transition: 0.5s;
    border-radius: 10px;
}
aside:hover{
    overflow-y: hidden;
} 
.desplegar{
    transform: translateX(-100%);
}
aside::-webkit-scrollbar{
    width: 8px;
}
aside::-webkit-scrollbar-thumb{
    background-color: #909090;
    border-radius: 5px;
}
.container-text{
    border-bottom: 1px solid var(--border-color);
    padding: 10px 1px;
    color: var(--text-color);
}
.container-text div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 40px 0px 80px 0px;
    cursor: pointer;
}
.container-text div span{
    margin-left: 0px;
    font-size: 1.5rem;
    font-weight: 500;
}
/* - footer de la app */
footer{
    display: flex;
    justify-content: center;
    border-radius: 60px;
}
div.footer-min{
    display: flex;
    width: 95%;
    max-width: 500vh;
    height: 20%;
    background: #94D5F5;
    
    border-radius: 2em;
}
/* - container comun de la app */
div.container-query{
    width: 20vh;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    margin: 0px 0px 0px 150px;
    max-width: 30vh;
    min-width: 130vh;
}
div.content-info{
    height: 35em;
    width: 30em;
    min-width: 30vh;
    padding-left: 10px;
    margin: 5px;
    justify-content: space-between;
    background: #94D5F5;
    border-radius: 15px;
    padding: 0px;
}
div.content-info#details{
    height: 25em;
    width: 15em;    
    min-width: 20vh;
    min-height: 20vh;
    justify-self: start;   
    order: 1;
    padding: 5px;
    margin: -13em 0em -4em 1em;

}
div.content-info#redirect{
    height: 5em;
    width: 15em;
    min-width: 20vh;
    justify-self: start;    
    order: 2;
    margin: -6em 0em 2em 31.5em;
    border-radius: 50px;
}
/* - formularios */
form.register_obj{  
    height: 25em;
    width: 35em;
    min-width: 75vh;
    max-width: 500vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow:column;
    margin: 1em;
    padding: 2em;
    border-radius: 60px;
    background-color: #326773;
}
/* - tabla de contenidos */
.table-container {
    max-height: 400px;
    overflow-y: scroll;
}