<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <p class="controlText">
            CONTROL DE INVENTARIOS CONTRA
        </p>
    </div>
    <div class="container">
        <form action="" class="logIn">
            <p class="welcomeText">Bienvenido</p>
            <label for="usuarioInp" class="usuarioLbl">Usuario Administrador</label>
            <input type="text" class="usuarioInp">
            <label for="contraseniaInp" class="contraseniaLbl">Contraseña Administrador</label>
            <input type="text" class="contraseniaInp">
            <input type="button" value="Ingresar">
        </form>
    </div>
    <footer>
    <div class="footer">
        <p class="info">
            Este Sistema es Propiedad Privada de la Distribuidora Contra
            01-05-2023
            Contactenos - 000000000
        </p>
    </div>
    </footer>
</body>
</html>